* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  min-height: 100vh;
  font-family: "Chivo Mono", Times, serif;
  background: #453c67;
  display: flex;
  flex-direction: column;
}

header {
  padding: 5px;
  margin-bottom: 80px;
}

header {
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #6d67e4;
  font-size: 100px;
  border: solid;
  margin: 0 auto;
  padding: 10px;
}
h2 {
  color: #46c2cb;
  font-size: 50px;
  margin: 0 0 40px 0;
  text-shadow: #0f1329;
  border-bottom: dotted;
  padding: 10px;
}

.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#encriptar {
  flex: 50%;
  padding: 5px;
}

#desencriptar {
  flex: 50%;
  padding-top: 5px;
}

#resultado {
  padding-top: 10px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: none;
}
.botones {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* padding: 20px; */
  /* background-color: red; */
}
.botones button, #borrar,#escuchar {
  align-items: center;
  margin: 0 auto;
  background-color: rgba(70, 194, 203, 0.4);
  padding: 5px;
  border: solid #6d67e4;
  width: 250px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: 0.3s ease all;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 1s;

}

#encriptar,
#desencriptar,

#copiar  {
  background: #a240c0;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border: none;

  transition: 1s;

}

textarea {
  width: 400px;
  height: 120px;
  background: #ccd8e0;
  text-align: center;
  color: #0f1329;
  border-radius: 5px;
  transition: 1s;
  resize: none;
}

textarea:focus {
  background: #fff;
  color: #181616;
}

::placeholder {
  padding: 25px;
  color: #0f1329;
}

.encriptar {
  background: #a240c0;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border: none;
  transition: 0.3s ease all;
}

textarea:active {
  transform: translateY(3px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (max-width: 500px) {
  .footer,
  #mensaje,
  #resultado,
  #encriptar,
  #desencriptar {
    flex: 100%;
    flex-direction: column;
    align-items: center;
  }
  h1,
  h2 {
    display: flex;
    font-size: 26px;
  }
}

/* @media (max-width: 500px) {
  .footer,#section-desencripta,#section-encripta,#section-resultado{
   flex: 100%;
    flex-direction: column;
    align-items: center;
    
  }

} 

@media (max-width: 500px) {
  textarea{
    width: 90%;  
  }
  h1 {
    display: flex;
    font-size: 26px;
  }
  header{
    display: flex;
    justify-content: center;
  }

  header{
    margin-bottom: 0;
  }
  #copiar{
  margin-left: 290px;
  }
} 

@media (max-width: 960px) {
  h1{
    display: none;
  }
} */
